Repository 47degrees/scalacheck-toolbox, pull requests merged in 2020-04, with the labels that each got.

#109 Update sbt to 1.3.9
  project/build.properties
Labels: auto-update

#110 Update actions, documentation templates and configuration files to v0.2.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
  .github/workflows/scalasteward-auto-approve.yml
  .mergify.yml
Labels: auto-update

#112 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#113 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#114 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#115 Update actions, documentation templates and configuration files to v0.3.2
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .mergify.yml
Labels: auto-update

#116 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#117 Update actions, documentation templates and configuration files to v0.3.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
Labels: auto-update

#119 Update actions, documentation templates and configuration files to v0.4.0
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: auto-update

#120 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#121 Update actions, documentation templates and configuration files to v0.4.1
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: auto-update

#122 Update actions, documentation templates and configuration files to v0.5.0
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .mergify.yml
Labels: auto-update

#124 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#128 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#129 Update documentation and other files
  combinators/src/main/scala/com/fortysevendeg/scalacheck/combinators/Combinators.scala
  combinators/src/test/scala/com/fortysevendeg/scalacheck/combinators/CombinatorProperties.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/GenDateTime.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/Granularity.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/instances/jdk8.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/instances/joda.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/instances/package.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/jdk8/GenJdk8.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/jdk8/granularity/package.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/joda/GenJoda.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/joda/granularity/package.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/typeclasses/ScalaCheckDateTimeInfra.scala
  datetime/src/test/scala/com/fortysevendeg/scalacheck/datetime/jdk8/GenJdk8Properties.scala
  datetime/src/test/scala/com/fortysevendeg/scalacheck/datetime/joda/GenJodaProperties.scala
  magic/src/main/scala/com/fortysevendeg/scalacheck/magic/Magic.scala
  magic/src/test/scala/com/fortysevendeg/scalacheck/magic/MagicProperties.scala
Labels: auto-documentation

#130 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#132 Update sbt-scalafmt to 2.3.3
  project/plugins.sbt
Labels: scala-steward

#131 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#133 Update sbt to 1.3.10
  project/build.properties
Labels: scala-steward

#134 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#136 Update documentation and other files
  AUTHORS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  NOTICE.md
  combinators/src/main/scala/com/fortysevendeg/scalacheck/combinators/Combinators.scala
  combinators/src/test/scala/com/fortysevendeg/scalacheck/combinators/CombinatorProperties.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/GenDateTime.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/Granularity.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/instances/jdk8.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/instances/joda.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/instances/package.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/jdk8/GenJdk8.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/jdk8/granularity/package.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/joda/GenJoda.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/joda/granularity/package.scala
  datetime/src/main/scala/com/fortysevendeg/scalacheck/datetime/typeclasses/ScalaCheckDateTimeInfra.scala
  datetime/src/test/scala/com/fortysevendeg/scalacheck/datetime/jdk8/GenJdk8Properties.scala
  datetime/src/test/scala/com/fortysevendeg/scalacheck/datetime/joda/GenJodaProperties.scala
  magic/src/main/scala/com/fortysevendeg/scalacheck/magic/Magic.scala
  magic/src/test/scala/com/fortysevendeg/scalacheck/magic/MagicProperties.scala
Labels: auto-documentation

#138 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#141 Update sbt-microsites to 1.2.0
  project/plugins.sbt
Labels: scala-steward

#142 Update sbt-ci-release to 1.5.3
  project/plugins.sbt
Labels: scala-steward

#143 Update joda-time to 2.10.6
  project/ProjectPlugin.scala
Labels: scala-steward
